<a href="https://colab.research.google.com/github/Da-eun-Cho/Da-eun-Cho/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 기초

## (1) 단축키
* ctrl + m + b (밑에 코드셀 추가)
* ctrl + m + a  (위에 코드셀 추가)
* ctrl + m + m  (코드셀 -> 텍스트셀)
* ctrl + m + y  (텍스트셀 -> 코드셀)
* ctrl + m + d  (셀 삭제)
* ctrl + enter  (현재 셀 실행)
* shift + enter   (현재 셀 실행하며 아래 셀로 이동)

mac은 ctrl 대신 command 사용

In [24]:
print(1)

1

## (2) 출력하기
* print()는 값을 출력해주는 함수
* 괄호 안에 입력한 메시지나 값을 출력
* 문자나 숫자 등을 출력
* 쉼표 ,,,로 여러 값을 출력

In [25]:
print("hello world")

hello world

In [26]:
print(1)

1

In [27]:
print(1,2,3)

1 2 3

In [28]:
print("My name is", "다은")

My name is 다은

## (3) 입력하기
* input() 함수 사용
* 사용자의 입력을 받습니다.
* 입력 값은 항상 문자열로 받아옵니다.
* 프로그램에게 정보를 전달합니다.
* 입력 받은 값을 변수에 저장할 수 있습니다.

In [33]:
input()

다은

'다은'

In [34]:
input("너의 이름은? :")

너의 이름은? :다은

'다은'

In [35]:
name = input("너의 이름은? :")

너의 이름은? :다은

## (4) 변수
* 값을 담는 그릇
* 할당연산자: 변수에 값을 할당하는 연상을 의미하는 기호
* 대표적인 할당연산자 = 이외에도 다양한 할당연산자 존재

In [43]:
name = input("너의 이름은? :")

너의 이름은? :다민

In [44]:
print(name)

다민

In [45]:
int1 = 3
int2 = 4

In [46]:
print(int1)

3

In [47]:
print(int2)

4

In [48]:
int3 = 920
int4 = 234
print(int3)
print(int4)

920
234

## 과제
* 변수 age에 값을 입력받아 저장하고 [My age is (본인 나이)]를 출력해보세요.